<!--/*@thymesVar id="param" type="java.util.Map<java.lang.String, java.lang.String>"*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:lang="ru">
    <link rel="icon" type="image/png" href="/static/img/fanicon.png"
          th:href="@{img/fanicon.png}"/>
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/static/img/ico.png"
          th:href="@{img/ico.png}"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../static/css/style.css"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Samlib search and statistic server</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"/>
    <div class="center-block" style="margin-top: 35px">
        <form method="get" action="/search" class=" drop-shadow" style="padding: 15px; border-radius: 10px;">
            <input type="hidden" name="page"  value="1"/>
            <input value="" th:value="${query}" width="800px" class="form-control" type="search" name="query"
                   placeholder="Введите имя автора или название книги"/>
            <div class="form-group" style="margin-top: 10px;">
                <label for="type">Форма:</label>
                <select class="form-control" id="type" name="type">
                    <option></option>
                    <option th:each="t : ${types}" th:value="${t.name()}" th:text="${t.title}"
                            th:selected="${t.name().equals(type)}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="genre">Жанр:</label>
                <select class="form-control" name="genre" id="genre">
                    <option></option>
                    <option th:each="g : ${genres}" th:value="${g.name()}" th:text="${g.title}"
                            th:selected="${g.name().equals(genre)}"></option>
                </select>
            </div>
            <!-- <div class="form-check">
                 <label class="form-check-label">
                     <input type="checkbox" class="form-check-input">
                     Check me out
                 </label>
             </div> -->
            <button class="btn" style="background-color: #222222;color: whitesmoke;" type="submit">Найти</button>
        </form>
        <div th:if="${works != null}" style="margin-top: 30px">
            <div th:if="${!works.isEmpty()}">
                <table cellspacing="35" border="0" class="table" width="800px">
                    <tr th:each="work : ${works}">
                        <td>
                            <table border="0">
                                <tr>
                                    <td><a target="_blank" class="font-weight-bold" style="font-size: medium;"
                                           th:href="@{'http://www.samlib.ru'+${work.link}+'.shtml'}"
                                           th:text="${work.title}"></a></td>
                                </tr>
                                <tr>
                                    <td><a target="_blank" class="font-weight-bold"
                                           style="font-size: large; color: darkolivegreen"
                                           th:href="@{'http://www.samlib.ru'+ ${work.author.link}}"
                                           th:text="${work.author.title}"></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="font-size: small; font-family: arial,sans-serif;"
                                             th:text="${work.annotation}"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div style="padding: 0 20px 20px 20px;">
                    <table border="0" style="margin-left: 45%;">
                        <tr valign="top">
                            <td th:if="${page > 1}">
                                <a class="fl" th:href="'/search?query='+ ${query}
                                   + '&amp;type=' + ${type}
                                   + '&amp;genre=' + ${genre}
                                   + '&amp;page=' + ${page - 1}
                                  ">&#60; Предыдущая </a>
                            </td>
                            <td th:if="${page != null}" th:each="i: ${#numbers.sequence(minPage, page)}">
                                <span style="padding: 0 10px 0 10px;" th:if="${page == i}" th:text="${i}"></span>
                                <span style="padding: 0 10px 0 10px;" th:if="${page != i}">
                                <a class="fl" th:href="'/search?query='+ ${query}
                                   + '&amp;type=' + ${type}
                                   + '&amp;genre=' + ${genre}
                                   + '&amp;page=' + ${page}
                                  " th:text="${i}"></a>
                                </span>
                            </td>
                            <td th:if="${works.size() >= pageSize}">
                                <a class="fl" th:href="'/search?query='+ ${query}
                                   + '&amp;type=' + ${type}
                                   + '&amp;genre=' + ${genre}
                                   + '&amp;page=' + ${page + 1}
                                  ">Следующая &#62; </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div th:if="${works.isEmpty()}">
                Ничего не найдено!
                <div th:if="${page > 1}" style="padding: 0 20px 20px 20px;">
                    <table border="0" style="margin-left: 45%;">
                        <tr valign="top">
                            <td>
                            <a class="fl" th:href="'/search?query='+ ${query}
                                   + '&amp;type=' + ${type}
                                   + '&amp;genre=' + ${genre}
                                   + '&amp;page=' + ${page - 1}
                                  ">&#60; Предыдущая </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>